<template>
  <div class="home">
    <b-card title="Adicionar Capitulo" class="m-2">
      <b-card-text>
        <b-form @submit="submeter">
          <b-form-group
            id="nome-group"
            label="Nome:"
            label-for="nome"
          >
            <b-form-input
              id="nome"
              type="text"
              required
              v-model="formulario.nome"
              placeholder="Digite o Nome do Capitulo"
            ></b-form-input>
          </b-form-group>
          <b-form-group 
            id="conteudo-group"
            label="Conteudo:"
            label-for="conteudo"
            >
            <b-form-textarea
              id="conteudo"
              v-model="formulario.conteudo"
              required
              placeholder="Digite o Conteudo do Capitulo"
            ></b-form-textarea>
          </b-form-group>          
        <b-button type="submit" variant="primary">Cadastrar</b-button>
        </b-form>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default{
  data(){
    return{
      formulario:{
        nome: '',
        conteudo: ''
      },
      idLivro: this.$route.params.id
    }
  },
  methods:{
    submeter(evt) {
      evt.preventDefault()
      this.$axios.post(`/books/${this.idLivro}/chapters`, this.formulario).then(resp=>{
        if(resp.status == 201){
          this.$swal("Sucesso ao cadastrar Capitulo!", '', 'success').then(()=>{
            this.$router.push({name:'capitulo', params:{'id': this.idLivro}})
          })
        }else{
          this.$swal("Erro ao cadastrar Capitulo!", '', 'error')
        }
      })
    },
  },
}
</script>
