<template>
  <div class="home">
    <b-card title="Editar Livro" class="m-2">
      <b-card-text>
        <b-form @submit="submeter">
          <b-form-group
            id="nome-group"
            label="Nome:"
            label-for="nome"
          >
            <b-form-input
              id="nome"
              type="text"
              required
              v-model="formulario.nome"
              placeholder="Digite o Nome do Capitulo"
            ></b-form-input>
          </b-form-group>
          <b-form-group 
            id="conteudo-group"
            label="Conteudo:"
            label-for="conteudo"
            >
            <b-form-textarea
              id="conteudo"
              v-model="formulario.conteudo"
              required
              rows="8"
              placeholder="Digite o Conteudo do Capitulo"
            ></b-form-textarea>
          </b-form-group>          
        <b-button type="submit" variant="primary">Atualizar</b-button>
        </b-form>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default{
  data(){
    return{
      formulario:{
        nome: '', 
        conteudo: ''
      },
      idLivro: this.$route.params.id,
      idCap: this.$route.params.cap
    }
  },
  methods:{
    pegarCapitulo(idLivro, idCap){
      this.$axios.get(`/books/${idLivro}/chapters/${idCap}`).then(resp=>{
        this.formulario = {
          nome: resp.data.nome,
          conteudo: resp.data.conteudo
        }
      }).catch(()=>{
        this.$swal("Erro Capitulo Não Encontrado!", '', 'error').then(
          this.$router.push({name:'capitulo', params:{'id': this.idLivro}})
        )
      })
    },
    submeter(evt) {
      evt.preventDefault()
      this.$axios.put(`/books/${this.idLivro}/chapters/${this.idCap}`, this.formulario).then(resp=>{
        if(resp.status == 200){
          this.$swal("Sucesso ao Editar Capitulo!", '', 'success').then(()=>{
            this.$router.push({name:'capitulo', params:{'id': this.idLivro}})
          })
        }else{
          this.$swal("Erro ao Editar Capitulo!", '', 'error')
        }
      })
    },
  },
  created(){
    this.pegarCapitulo(this.idLivro, this.idCap)
  }
}
</script>
