<template>
  <div class="home">
    <b-row>
      <b-col>
        <b-card 
          title="Quantidade de Livros Cadastrados"
          class="m-2"
          >
          <b-card-text>
            {{qtdLivros}} Livros
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default{
  data(){
    return {
      livros: []
    }
  },
  computed:{
    qtdLivros(){
      return this.livros.length      
    }
  },
  methods:{
    getLivros(){
      let livro = []
      this.$axios.get(`/books`).then(resp => {
        resp.data.map((obj) => {
          livro.push({...obj})
        })
      })
      this.livros = livro
    }
  },
  created(){
    this.getLivros()
  },
}
</script>
