<template>
  <div class="home">
    <b-row>
      <b-col>
        <b-card title="Livros" class="m-2">
          <b-card-text>
              <b-table 
                striped
                hover
                :items="items"
                :fields="fields"
                responsive
                >
                <template v-slot:cell(op)="data">
                  <b-button variant="success" class="m-1" :to="{name: 'capitulo', params:{id:data.value.id}}">Ver capitulos</b-button>
                  <b-button variant="primary" class="m-1" :to="{name: 'edit-livros', params:{id:data.value.id}}">Editar</b-button>
                  <b-button variant="danger" class="m-1" @click="deletarLivro(data.value)">Excluir</b-button>
                </template>
              </b-table>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default{
  data(){
    return{
      fields: [
        {
          label:'Titulo',
          key: 'titulo',
          sortable: true,
        },
        {
          label:'Autor',
          key: 'autor'
        },
        {
          label:'Ano',
          key: "ano_publicacao"
        },
        {
          label:'Opções',
          key: 'op'
        }
      ],
      items: []
    }
  },
  methods:{
    getLivros(){
      let livro = []
      this.$axios.get(`/books`).then(resp => {
        resp.data.map((obj) => {
          livro.push({...obj, op: {id: obj._id, titulo: obj.titulo}})
        })
      })
      this.items = livro
    },
    deletarLivro(dados){
      this.$swal({
        title: 'Deseja deletar o Livro?',
        text: dados.titulo,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim'
      }).then((result) => {
        if (result.value) {
          this.$swal(
            'Deletado!',
            'Livro Deletado',
            'success'
          ).then(()=>{
            this.$axios.delete(`/books/${dados.id}`).then(()=>this.getLivros())
          })
        }else{
          this.$swal(
            'Cancelado',
            '',
            'error'
          )
        }
      })
    }
  },
  mounted(){
    this.getLivros()
  },
}
</script>
