<template>
  <div>
    <div ref="navbar">
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#" :to="{name:'inicio'}">Biblioteca</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item :to="{'name': 'inicio'}">Inicio</b-nav-item>
            <b-nav-item-dropdown text="Livros" right>
              <b-dropdown-item :to="{'name': 'livros'}">Ver Todos</b-dropdown-item>
              <b-dropdown-item :to="{'name': 'add-livros'}">Adicionar</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view></router-view>
  </div>
</template>